# Local .terraform directories
**/.terraform/*

# .tfstate files (상태 파일은 절대 깃에 올리면 안됨 - 보안 위험!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore variables file containing sensitive data
terraform.tfvars
terraform.tfvars.json
*.auto.tfvars
*.auto.tfvars.json

# IDE settings (JetBrains / VS Code)
.idea/
*.iml
.vscode/
